
# Ignore Mac extra files
.DS_Store

# Ignore python compiled files
*.pyc

# Ignore files created during the build
build
build3
buildparallel
build3parallel
*.o
*.so
forthonf2c.h
ranffortran.c
__version__.py

# Ignore local definitions for building
Makefile.local
Makefile.local3
Makefile.local.pympi
Makefile.local3.pympi
setup.local.py
